<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div align="center">
    <h3>Welcome!</h3>
    <div th:if="${name}">
        <h3 th:text="${name} + '!'"/>
    </div>
    <div>
        <h4>Say Hello To</h4>
        <form action="/greeting" method="get">
            <input type="text" name="name">
            <br>
            <button type="submit">Say</button>
        </form>
        <br>
        <a th:href="@{'/user?id=' + ${userId}}">My Page</a>
        <br>
        <hr/>
    </div>
    <a href="/logout">Logout</a>
    <br>
</div>
</body>
</html>